.material-icons{
position: relative;
top: 0.4rem;
}

li{
    list-style-type:none;
}

ul{
    padding: 0;
}

.sum::after{
   content:  "\20BD";
   margin-left: 5px;
}


.result-text{
    font-size: 1.6rem;
}

.row{
    margin-bottom: 1.5rem;
}